body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(146, 146, 146);
}

/*--Aside--*/

.aside {
  color:  rgb(119, 119, 119);
}

.orange {
  /* background-image: url("/image/pasteque.jpg"); */
  background-color:rgb(243, 243, 243);
  border:1px solid rgb(221, 221, 221);
  border-radius:10px;
  width: 100%;
  height: 35rem;
  background-size: 100%;
  background-position: 25% 75%;
  padding:10px;
}
/* Navbar */

.navbar .navbar-default {
  background-color: transparent;
}

.navbar-brand {
  padding-right: 360px;
}

.btn-outline-danger {
  color: blue;
}

.nav-item, .nav-link {
  text-align: right !important;
  padding: 0 10px 0 0;
}

/* End Navbar */

/*-- Page accueil --*/

.content-slider {
  background-image: url("../image/gateau.jpg");
  /* background-color:red; */
  background-size: 100%;
  background-position: 25% 75%;
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

.p-home {
  font-size: 50px;
}


/*--Template Categorie--*/

.template {
  margin-bottom: 15px;
}

.card {
  margin-bottom: 10px;
}

/*--Template Article--*/

.article {
  width: 500px;
  height: 500px;
}

/*--Footer--*/

.footer {
  text-align: center;
  font-size: 10px;
}