{% block aside %}


<aside class="orange">
  <h4 class="aside">A propos</h4>

  <p class="aside">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, distinctio nesciunt sed alias maxime itaque esse odio
    molestias eius necessitatibus hic obcaecati nostrum quidem. Quaerat, nobis laudantium? Deserunt, iste! Nostrum!</p>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
  </form>
  <h6>Les derniers articles</h6>
  {% for row in variable %}

      <ul>
        <li>
          <a href="{{path('article', {'id':row.id})}}">{{row.title}}</a>
        </li>
      </ul>

    {% endfor %}


</aside>

{% endblock aside %}