{% block header %}
<header>
  {% block nav %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{path('sodelicious')}}">So Delicious</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{path('salt')}}">Salé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('sugar')}}">Sucré</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('jaiteste')}}">J'ai tésté</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('contact')}}">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{path('addArticle')}}">Ajouter un article</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="{{path('connexion')}}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('createAccount')}}">Créer un compte</a>
              </li>
            </ul>
      </div>
    </nav>
         
      
  {% endblock nav %}

</header>
{% endblock header %}