{% extends "skeleton.html.twig" %} 

{% block content %}
  
<div class="article">
  <div class="template">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{variable.title}}</h5>
              <p class="card-text">{{variable.category}}</p>
              <p class="card-text">{{variable.date.format("Y-m-d")}}</p>
              <p class="card-text">{{variable.content}}</p>
             <a href="{{path('update', {'id':variable.id})}}">Modifier Article</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}




