{% block templateCat %}
<section class="template">
  <div class="container-fluid">
    <div class="row">
      <div>
        <div class="container-fluid">
          <div class="row">
            {% for row in variable %}
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{row.title}}</h5>
                  <p class="card-text">{{row.category}}</p>
                  <p class="card-text">{{row.date.format("d/m/Y")}}</p>
                  <p class="card-text">{{row.content[:200]}}...</p>
                  <a href="{{path('article', {'id':row.id})}}">lire plus</a>
                  <a href="{{path('delete', {'id':row.id})}}" class="btn btn-secondary">Supprimer</a>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>


    </div>
  </div>
</section>

{% endblock templateCat %}