{% extends "skeleton.html.twig" %} {% block title %} Connexion {% endblock title %} {% block content %}

<div class="container">
  <h2>S'identifier</h2>

  <form class="form-horizontal" action="{{path('createAccount')}}">

    <div class="form-group">
      {# <label class="control-label col-sm-2 offset-2" for="pseudo">Titre:</label> #}
      <div class="col-sm-10 offset-2 col-md-8">
        <input type="text" class="form-control" id="titre" placeholder="Email" name="titre">
      </div>
    </div>

    <div class="form-group">
        {# <label class="control-label col-sm-2 offset-2" for="pseudo">Titre:</label> #}
        <div class="col-sm-10 offset-2 col-md-8">
          <input type="text" class="form-control" id="titre" placeholder="Mot de passe" name="titre">
        </div>
      </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 offset-2 col-md-8">
        <button type="submit" class="btn">Se Connecter</button>
        <p><a href= "#">Mot de passe oublié</a></p>
       
      </div>
    </div>

    

  </form>

</div>


{% endblock content %}