{% extends "skeleton.html.twig" %} {% block title %} Contact {% endblock title %} {% block content %}



<div class="container">
  <h2>un petit message</h2>

  <form class="form-horizontal" action="/action_page.php">

    <div class="form-group">
      <div class="col-sm-10 offset-2 col-md-8">
        <input type="text" class="form-control" id="titre" placeholder="Email" name="titre">
      </div>
    </div>

    <div class="form-group col-sm-10 offset-2 col-md-8">
      <textarea class="form-control" rows="5" id="comment" placeholder="Votre message"></textarea>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 offset-2 col-md-8">
        <button type="submit" class="btn btn-default">Envoyer</button>
      </div>
    </div>


  </form>

</div>


{% endblock content %}