{% extends "skeleton.html.twig" %} {% block title %} Créer un compte {% endblock title %} {% block content %}

<div class="container">
  <h2>Créer un compte</h2>

  <form class="form-horizontal" action="{{path('connexion')}}">

    <div class="form-group">
      {# <label class="control-label col-sm-2 offset-2" for="pseudo">Titre:</label> #}
      <div class="col-sm-10 offset-2 col-md-8">
        <input type="text" class="form-control" id="titre" placeholder="Votre nom" name="name">
      </div>
    </div>

    <div class="form-group">
        {# <label class="control-label col-sm-2 offset-2" for="pseudo">Titre:</label> #}
        <div class="col-sm-10 offset-2 col-md-8">
          <input type="text" class="form-control" id="titre" placeholder="Votre prénom" name="name">
        </div>
      </div>

      <div class="form-group">
          {# <label class="control-label col-sm-2 offset-2" for="pseudo">Titre:</label> #}
          <div class="col-sm-10 offset-2 col-md-8">
            <input type="text" class="form-control" id="titre" placeholder="Votre adresse mail" name="name">
          </div>
        </div>
        <div class="form-group">
            {# <label class="control-label col-sm-2 offset-2" for="pseudo">Titre:</label> #}
            <div class="col-sm-10 offset-2 col-md-8">
              <input type="text" class="form-control" id="titre" placeholder="Votre mot de passe" name="name">
            </div>
          </div>

          <div class="form-group">
              {# <label class="control-label col-sm-2 offset-2" for="pseudo">Titre:</label> #}
              <div class="col-sm-10 offset-2 col-md-8">
                <input type="text" class="form-control" id="titre" placeholder="Confirmation du mot de passe" name="name">
              </div>
            </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 offset-2 col-md-8">
        <button type="submit" class="btn btn-default">Créer un compte</button>
      </div>
    </div>

  </form>

</div>


{% endblock content %}