{% extends "skeleton.html.twig" %} {% block title %} J'ai testé{% endblock title %} 

{% block content %}
<!-- <p>J'ai testé</p>
<p class ="p-home">Je suis un template de catégorie avec plein d'articles</p>
   -->
{% block templateCat %}
{% include "_templateCategorie.html.twig" %}
{% endblock templateCat %}

{% endblock content %}