{% extends "skeleton.html.twig" %} {% block title %} Salé {% endblock title %} 

{% block content %}


{% block templateCat %}
{% include "_templateCategorie.html.twig" %}
{% endblock templateCat %}
  
{% endblock content %}