<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mon Blog {% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link rel="stylesheet" href="{{asset('css/style.css')}}">

  <link rel="stylesheet" href="https://bootswatch.com/litera/">

  <script src="main.js"></script>
</head>

<body>

  {% block header %} {% block nav %}
    
  {% include "_header.html.twig" %} {% endblock nav %}{% endblock header %}

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-9 mx-auto">
        {% block content %} 
      
        {% endblock content %}
      </div>

      <div class="col-md-3 mx-auto">
        {% block aside %}
          {{ render(controller('App\\Controller\\AsideController::form')) }}
        {% endblock aside %}
      </div>
    </div>
  </div>
  {% block footer %} {% include "_footer.html.twig" %} {% endblock footer %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>

</html>