{# 
  si je veux la même page que toutes les autres : 

  {% extends "skeleton.html.twig" %}  #}

{# {% block title %} So Delicious {% endblock title %} 

{% block content %}

<p class ="p-home">Je suis la home</p>
  
{% endblock content %} #}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mon Blog {% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset('css/style.css')}}">

  <script src="main.js"></script>
</head>

<body>

  {% block header %} {% include "_header2.html.twig" %} {% endblock header %}
  <div class ="content-slider">
  <!-- <img src="{{ asset('image/gateau.jpg') }}" alt="banner" /> -->
  </div>
  <div class="container-fluid">

      

  
    <div class="row">

      <div class="col-md-9 mx-auto">
        {% block content %} {% block templateCat %}
        {% include "_templateCategorie.html.twig" %}
        {% endblock templateCat %}{% endblock content %}
      </div>

      <div class="col-md-3 mx-auto">
        {% block aside %} {% include "_aside.html.twig" %} {% endblock aside %}
      </div>
    </div>
  </div>
  {% block footer %} {% include "_footer.html.twig" %} {% endblock footer %}
</body>

</html>