{% extends "skeleton.html.twig" %} {% block title %} Salé {% endblock title %} 

{% block content %}

<!-- <p class ="p-home">
  Je suis un template de catégorie avec plein d'articles
</p> -->
{% block templateCat %}
{% include "_templateCategorie.html.twig" %}
{% endblock templateCat %}
  
{% endblock content %}