{% extends "skeleton.html.twig" %} 
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
  


<div class="container-fluid">
  <div class="form-group">
{{form_start(form)}}
{{form_widget(form)}}
<button>Appliquer la modication</button>
{{form_end(form)}}

</div>
</div>

{% endblock content %}